@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;

}

#img img {
    width: 32rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    color: #f8fafc;
    background-color: #1c3b2b;
    border-radius: 10px;
    box-shadow: 0px 8px 40px #12522756;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    font-size: 2.25rem;
    position: relative;
}

h1::after{
    position: absolute;
    content: '';
    background-color: #12a34a ;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box{
    font-size: 18px;
    color: #cbd5e1;
    font-weight: 500;
}
.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 8px;
    margin-top: 3px;
}

.input-field span,
.input-field i {
    color: #cbd5e1;
    font-size: 17px;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color:#f8fafc;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus{
    outline: none;
}

#calculate {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 40px #5b866956;
    font-size: 20px;
    font-weight: bold;
    color: #f8fafc;
    background-color: #16a34a;
    padding: 8px;
    cursor: pointer;
    transition: color 0.5s;
}
#calculate:hover{
    background-color:  #f8fafc;
    color: #16a34a;;
    box-shadow: 0px 8px 40px #28794356;
}
#result {
    display: flex;
    gap: 32px;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 12px 0px;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
}

#bmi span:last-child{
    font-size: 14px;
    color: #cbd5e1;
}

#description {
    width: 15.5rem;
}

#more-info{
    border-top: 1px solid #ffffff34;
    padding: 24px;
}

#more-info a {
    color: #16a34a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.5s;
}
#more-info a:hover{
    color: #cbd5e1;
}

.hidden{
    display: none;
}

.normal {
    color: #16a34a
}

.attention {
    color: #c21515;
}


@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and ( max-width: 500px ) {
    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }

}

